@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLE */
html {
	@apply font-body text-white bg-purple-ultraDark;
	font-size: 16px;
	height: -webkit-fill-available;
}

body {
	max-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

li {
	font-weight: 300;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
	body {
		/* The hack for Safari */
		height: -webkit-fill-available;
	}
}

/* Custom styles for hiding scrollbars */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}

.scrollbar-hidden {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

strong {
	@apply text-tomato;
	@apply font-bold;
}

/* FONT-SIZE CLASSES */
@layer components {
	.h1 {
		@apply !text-lg xs:!text-2lg md:!text-2xl xl:!text-xl 2xl:!text-2xl text-pretty;
	}

	.h2 {
		@apply !text-2base md:!text-3base 2xl:!text-md text-pretty;
	}

	.h3 {
		@apply !text-base 2xl:!text-3base text-pretty;
	}

	.h4 {
		@apply !text-base lg:!text-2base 2xl:!text-3base text-pretty;
	}

	.h5 {
		@apply !text-2normal lg:!text-base 2xl:!text-2base text-pretty;
	}

	.h6 {
		@apply !text-sm md:!text-normal lg:!text-2normal 2xl:!text-base text-pretty;
	}

	.h-gradient {
		@apply !text-3base md:!text-md lg:!text-lg text-pretty;
	}

	.paragraphLarge {
		@apply !text-base xs:!text-2base md:!text-3base 2xl:!text-md text-pretty;
	}

	.paragraphLight {
		@apply !text-normal md:!text-base text-pretty;
	}
}

/* FONT-SIZE TAGS */
@layer components {
	h1 {
		@apply text-lg xs:text-2lg md:text-2xl 2xl:text-3xl text-pretty;
	}

	h2 {
		@apply text-2base md:text-3base 2xl:text-md text-pretty;
	}

	h3 {
		@apply text-base 2xl:text-3base text-pretty;
	}

	h4 {
		@apply text-2normal lg:text-base 2xl:text-2base text-pretty;
	}

	h5 {
		@apply text-normal lg:text-2normal 2xl:text-base text-pretty;
	}

	h6 {
		@apply text-sm md:text-normal lg:text-2normal 2xl:text-base text-pretty;
	}
}

/* FONTS IMPORT */
@font-face {
	font-family: "Brother";
	src: url("../public/_assets/fonts/brother-1816-black-webfont.woff2")
			format("woff2"),
		url("../public/_assets/fonts/brother-1816-black-webfont.woff")
			format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Brother";
	src: url("../public/_assets/fonts/brother-1816-bold-webfont.woff2")
			format("woff2"),
		url("../public/_assets/fonts/brother-1816-bold-webfont.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Brother";
	src: url("../public/_assets/fonts/brother-1816-medium-webfont.woff2")
			format("woff2"),
		url("../public/_assets/fonts/brother-1816-medium-webfont.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../public/_assets/fonts/JosefinSans-ExtraLight.woff2")
			format("woff2"),
		url("../public/_assets/fonts/JosefinSans-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../public/_assets/fonts/JosefinSans-Light.woff2") format("woff2"),
		url("../public/_assets/fonts/JosefinSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../public/_assets/fonts/JosefinSans-Regular.woff2") format("woff2"),
		url("../public/_assets/fonts/JosefinSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../public/_assets/fonts/JosefinSans-SemiBold.woff2") format("woff2"),
		url("../public/_assets/fonts/JosefinSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../public/_assets/fonts/JosefinSans-Bold.woff2") format("woff2"),
		url("../public/_assets/fonts/JosefinSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
