@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLE */
html {
  @apply font-body text-white bg-purple-ultraDark;
  font-size: 16px;
  height: -webkit-fill-available;
}

body {
  max-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

li {
  font-size: 1.125rem;
  font-weight: 300;
  font-style: italic;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack for Safari */
    height: -webkit-fill-available;
  }
}

/* Custom styles for hiding scrollbars */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

strong {
  @apply text-tomato;
  @apply font-bold;
}

/* FONTS IMPORT */
@font-face {
  font-family: 'Brother';
  src: url('../public/_assets/fonts/brother-1816-black-webfont.woff2') format('woff2'),
        url('../public/_assets/fonts/brother-1816-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother';
  src: url('../public/_assets/fonts/brother-1816-bold-webfont.woff2') format('woff2'),
        url('../public/_assets/fonts/brother-1816-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brother';
  src: url('../public/_assets/fonts/brother-1816-medium-webfont.woff2') format('woff2'),
        url('../public/_assets/fonts/brother-1816-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/_assets/fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
      url('../public/_assets/fonts/JosefinSans-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/_assets/fonts/JosefinSans-Light.woff2') format('woff2'),
      url('../public/_assets/fonts/JosefinSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/_assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
      url('../public/_assets/fonts/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/_assets/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
      url('../public/_assets/fonts/JosefinSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../public/_assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
      url('../public/_assets/fonts/JosefinSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}